<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3.0.0-beta.12/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="cart">Cart({{cart}})</div>
      <h1>{{ product }}</h1>
      <p>{{ descriptionProduct}}</p>
      <div v-if="visible">
        <a v-bind:href="url" :target="target">
        <img :src="image" v-bind:alt="alternative">
        </a>
      </div>
      <div v-for="tamanho in details" :key="variant.id" 
      @mouseover="updateImage(variant.image)"
      class="button"
      :style="{ backgroundColor:variant.color }">
      </div>
      <!-- <button class="button" v-on:click="cart += 1">Add to Cart</button> -->
      <button class="button" v-on:click="addToCart">Add to Cart</button>
      <!-- SHORT HAND<button class="button" @:click="addToCart">Add to Cart</button> -->
    </div>

    <!-- Import Js -->
    <script src="./main.js"></script>
    <script>
      const mountedApp = app.mount("#app")
    </script>
  </body>
</html>
