<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylematerial3.css" />

    <title>CARD</title>
</head>

<body>
    <div class="card">
        <div class="card-display">
            <img src="" alt="">
        </div>
        <section>
            <header>
              <h1>TITLE fhfdhgfshfdhgsfdghsfhdgfshgdshgdfhgsfdhgsdhgsfdhgshgdfhg</h1>
              <h2>SUBTITLE</h2> 
            </header>
            <main>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora nisi architecto, dolorum esse itaque quia laborum sequi similique quae eligendi, excepturi alias fuga quos! Sunt, dolores saepe. Odio, voluptatibus optio.</p>
            </main>
            <footer>
                  <button>Outleted</button>
            </footer>

        </section>
    </div>
</body>

</html>